# =========================
# OS / Global
# =========================

.DS_Store
Thumbs.db

# =========================
# Secrets
# =========================

*.jks
*.keystore
keystore.properties

# ========================================================= 
# AI / Models / Training 
# =========================================================
models/ 
checkpoints/ 
datasets/ 
weights/ 
runs/ 
outputs/ 
*.safetensors 
*.ckpt 
*.pt 
*.pth 
*.onnx

# ========================================================= 
# OS / Misc 
# =========================================================

.DS_Store
/build
Thumbs.db