# ========================================================= 
# Python 
# =========================================================
.venv/ 
venv/ 
env/

__pycache__/ 
*.pyc 
*.pyo 
*.pyd 

# Jupyter 
.ipynb_checkpoints/

# ========================================================= 
# Runtime Data
# ========================================================= 
received_audios
json_outputs
configs_data

# ========================================================= 
# Sensitive Config
# ========================================================= 

security/config.json
.env